.jumbo{
  color: black;
  background-color: green;
  height: 200px;
  width: 1000px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto; 
  box-shadow: 0 0 10px -1px black;
  border-radius: 10px;
  margin-bottom: 50px;
  
}
#jazz{
 color: black;
 font-size: 25px;
 font-family: 5px;
 font-weight: bold;
 font-family: cursive;
 padding-left: 50px;
}
#sos{
  font-family: cursive;
}
.text{
  font-family: cursive;
}
body{
  background-color: white;
}
.jug{
  color: rgba(0, 0, 0, 0.699);
  background-color: green;
  height: 100px ;
  width: 800px ;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto; 
  box-shadow: 0 0 10px -1px black;
  border-radius: 10px;
  margin-bottom: 20px;
}
.box{
  color: rgba(0, 0, 0, 0.699);
  background-color: green;
  height: 100px ;
  width: 400px ;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto; 
  box-shadow: 0 0 10px -1px black;
  border-radius: 10px;
  margin-bottom: 20px;
 margin-left: 10px;
}
#mike{
  justify-content: center;
  display: flex;
}
#button1{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
#button2{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 35px;
  font-family: 35px;
  font-weight: bold;
  
}
.word{
  margin: 2px auto;
  height: 200px;
  width: 600px;
  border: none;
  background-color: green;
  box-shadow: 0 0 10px -1px black;
}
.word2{
  margin: 2px auto;
  height: 300px;
  width: 350px;
  border: none;
  background-color: green;
  box-shadow: 0 0 10px -1px black;
}
.work{
  color: black;
 font-size: 25px;
 font-family: 5px;
 font-weight: bold;
 font-family: cursive;
}
#button3{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
#button4{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
#button5{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
#button6{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
#button7{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
#button8{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
#button9{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
#button10{
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
.word2{
  display: none;
}
.word{
  display: none;
}