.jumbo{
  color: black;
  background-color: rgba(0, 0, 255, 0.603);
  height: 200px;
  width: 1000px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto; 
  box-shadow: 0 0 10px -1px black;
  border-radius: 10px;
  margin-bottom: 50px;
  
}
#jazz{
 color: black;
 font-size: 25px;
 font-family: 5px;
 font-weight: bold;
 font-family: cursive;
}
#sos{
  font-family: cursive;
}
.text{
  font-family: cursive;
}
body{
  background-color: blue;
}
.jug{
  color: rgba(0, 0, 0, 0.699);
  background-color: rgba(0, 0, 255, 0.603);
  height: 100px ;
  width: 800px ;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto; 
  box-shadow: 0 0 10px -1px black;
  border-radius: 10px;
  margin-bottom: 20px;
}
.box{
  color: rgba(0, 0, 0, 0.699);
  background-color: rgba(0, 0, 255, 0.603);
  height: 100px ;
  width: 400px ;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto; 
  box-shadow: 0 0 10px -1px black;
  border-radius: 10px;
  margin-bottom: 20px;
 margin-left: 10px;
}
#mike{
  justify-content: center;
  display: flex;
}
#button1{
  background-color: blue;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 5px;
  font-weight: bold;
  
}
#button2{
  background-color: blue;
  border: none;
  border-radius: 10px;
  font-size: 35px;
  font-family: 35px;
  font-weight: bold;
  
}
.word{
  margin: 2px auto;
  height: 200px;
  width: 600px;
  border: none;
  background-color: blue;
  box-shadow: 0 0 10px -1px black;
}
.word2{
  margin: 2px auto;
  height: 200px;
  width: 350px;
  border: none;
  background-color: blue;
  box-shadow: 0 0 10px -1px black;
}
